@model IEnumerable<PruebaTecnicaJoseCulajay.Models.Candidato>

@{
    ViewData["Title"] = "Canditatos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escolaridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escolaridad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plaza.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CUI">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CUI">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CUI">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
